/node_modules
deploy.tar
.firebase/
.firebaserc
firebase.json
/yarn-error.log
.env*
!.env.example
/data
/data-crawler
.DS_Store
.idea
/data-index-seo
.vercel
.DS_Store
url.json
package-lock.json
/.vscode
dist
.DS_Store
token.txt
ecosystem.config.js
micro-enigma-235001-big-query.json
micro-enigma-235001-b3a9d24a2dda.json
calcium-rigging-376803-c28b22569411.json
micro-enigma-235001-936009f0d00e.json
micro-enigma-235001-336871ca3622.json
pinterest.json
google.json
training-images
/lang
incremental
src/data-analytic
**/api-key
**/user_data
venv/
.early.coverage
logs-local/
weaviate_1/
__pycache__
test.ts